<div id="conte">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b> REGISTRO</b>
      </div>
      <div class="card-body p-4">
        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="Escribe tu correo" [(ngModel)]="usuario.email">

        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="Escribe tu contraseña"
          [(ngModel)]="usuario.password">

        <label style="float: left;">Password Confirm</label>
        <input class="form-control m-2" type="password" placeholder="Confirma tu contraseña"
          [(ngModel)]="usuario.passwordconfirm">

        <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrar</button>
        <br>
        <label>¿Ya tienes una cuenta? <a routerLink="/login">Ingresar</a></label>
      </div>
    </div>
  </div>
</div>