<nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="padding: 25 1rem; box-shadow:  0 0 5px -1px gray;">
    <a class="navbar-brand">
        <img src="assets/imagenes/A-64.png" height="50" width="50" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['catalogo']">Catálogo</a>
            </li>

            <li class="nav-item" routerLinkActive="active" *ngIf="userLogged|async as user;">
                <a class="nav-link" [routerLink]="['foro']">Foro</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['video']">Video</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
            </li>

            <li class="nav-item" routerLinkActive="active" *ngIf="userLogged|async as user;">
                <div *ngFor="let resu of users">
                    <div *ngIf="user.email==resu.email&&resu.nivel">
                        <a class="nav-link" [routerLink]="['lista']">ADMIN</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active" *ngIf="userLogged|async as user;">
                <div *ngFor="let resu of users">
                    <div *ngIf="user.email==resu.email&&resu.nivel">
                        <a class="nav-link" [routerLink]="['grafica']">Grafica</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <button (click)="habilitarSpeak()" style="background-color: #032238;"><i class="fas fa-assistive-listening-systems" style="color: white; font-size: 35px;"></i></button>
              </li>
            
        </ul>
    </div>

    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else LoginButton">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            {{user.email}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/login" (click)="logOut()">Cerrar Sesión</button>
        </div>
    </div>

    <ng-template #LoginButton>
        <button class="btn btn-primary" routerLink="/login"> Ingresar</button>
    </ng-template>
</nav>