.bg-home {
  background-image: url("../../../assets/imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 85px;
  text-shadow: 5px 5px 5px darkgoldenrod;
}

h2 {
  text-align: center;
  color: white;
  font-size: 55px;
  text-shadow: 5px 5px 5px darkred;
}

h5 {
  text-align: center;
  color: black;
  font-size: 35px;
}

#tarjetas{
  width: 30%;
  margin: 5px;
  margin-top: 7%;
  padding: 20px;
}

p {
  margin: 0 auto;
  color: black;
  font-size: 18px;
}

#img{
  margin-left: 5%;
  width: 25%;
  height: auto;
}

#img1{
  margin-left: 3%;
  width: 35%;
  height: auto;
}

#v1 {
  display: flex;
  flex-direction:row;
  align-items: center;
}

#iconos  i {
  font-size: 26px;
  padding: 0 8px;
  color:#f3f3f3;
}

@media (max-width: 991px) {
  h1 p a img {
    flex-direction: column;
  }
  h1 p a img {
    text-align: center;
  }
}

#spinner{
  position: relative;
  left: 40%;
}

