<div id="conte">
    <h2 align="CENTER" class="ayuda">PANEL DE ADMINISTRADOR</h2>

    <form (ngSubmit)="agregarUsuario()">
        <div class="form-group col-md-10">
            <label class="ayuda">Correo: </label>
            <input type="text" class="form-control" placeholder="Escribe un correo" #filtro name="filtro"
                [(ngModel)]="user.email">
            <br>
            <label class="ayuda">Contraseña: </label>
            <input type="password" class="form-control" placeholder="Escribe una contraseña" #filtro2 name="filtro2"
                [(ngModel)]="user.password">
            <br>
            <label class="ayuda">Nivel: </label>
            <input type="text" class="form-control" placeholder="Asigna un nivel" #filtro3 name="filtro3"
                [(ngModel)]="user.nivel">
            <br>
            <button type="submit" class="btn btn-success">Agregar Usuario</button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="reset" (click)="filtro.value = ''" class="btn btn-primary">Limpiar</button>
        </div>
    </form>

    <div style="left: 0%;">
        <ng-container *ngIf="validarSpeak.band">
            <button (click)="playSpeak('texto')"
                style="background-color: darkgray; border: none; margin-left: 15px; left: 0%;"><i
                    class="far fa-play-circle" style="color:rgb(42, 104, 180)"></i></button>
            <button (click)="stopSpeak()" style="background-color: darkgray; border: none; left: 0%;"><i
                    class="far fa-stop-circle" style="color:rgb(42, 104, 180)"></i></button>
        </ng-container>
    </div>
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><b>Correo</b></th>
                <th scope="col"><b>Contraseña</b></th>
                <th scope="col"><b>Administrador</b></th>
                <th scope="col"><b>Editar/Eliminar</b></th>
            </tr>
        </thead>

        <tbody class="ayuda">
            <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.nivel}}</td>
                <td>
                    <fa-icon [icon]="faTrash" class="float-center text-danger" style="cursor: pointer;"
                        (click)="eliminarUsuario(user.id)">
                    </fa-icon>
                    <fa-icon [icon]="faPenToSquare" class="float-left mr-2 text-success" style="cursor: pointer;"
                        (click)="editarUsuario(user.email)" data-toggle="modal" data-target="#modelId"></fa-icon>
                </td>

            </tr>

        </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <br>
                <div id="texto">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><b>Correo</b></th>
                                <th scope="col"><b>Contraseña</b></th>
                                <th scope="col"><b>Administrador</b></th>
                                <th scope="col"><b>Editar/Eliminar</b></th>
                            </tr>
                        </thead>

                        <tbody class="ayuda">
                            <tr *ngFor="let user of users">
                                <td>{{user.email}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.nivel}}</td>
                                <td>
                                    <fa-icon [icon]="faTrash" class="float-center text-danger" style="cursor: pointer;"
                                        (click)="eliminarUsuario(user.id)">
                                    </fa-icon>
                                    <fa-icon [icon]="faPenToSquare" class="float-left mr-2 text-success"
                                        style="cursor: pointer;" (click)="editarUsuario(user.email)" data-toggle="modal"
                                        data-target="#modelId"></fa-icon>
                                </td>

                            </tr>

                        </tbody>

                    </table>

                    <!-- Modal -->
                    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form (ngSubmit)="editarFormUsuario()">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="">Nombre:</label>
                                            <input type="text" class="form-control" name="name"
                                                [(ngModel)]="userEditar.email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>